<% if !teacher_signed_in? %>
	<div class="jumbotron">
		<h1><strong>Evaluation App<strong></h1>
		<br>
		<br>
		<p>Build an Evaluation Tool for Teachers</p>
		<img src="https://goo.gl/KCnjVW" width="300px">
		<br>
		<br>
		<br>
		<button type="button" class="btn btn-primary btn-lg active"><%= link_to "Log In", new_teacher_session_path %></button>
	</div>
<% else %>
	<div class="jumbotron">
		<h1>Evaluation App</h1>
		<br>
		<br>
		<br>
		<p><strong>WELCOME</strong><br><br>
		Any Questions? If you have about the assignment, feel free to contact Wouter in
person, on Slack, or via teachers@codaisseur.com. </p>
		<br>
		<br>
		<button type="button" class="btn btn-primary btn-lg btn-block active"><%= link_to "Batches", batches_path %></button>
	</div>
<% end %>