<div class="container">
	<div class="batch-list">
	
	<% @batch.students.each do |student| %>
		<li class="students-items">
		<%= link_to image_tag(student.picture),batch_student_path(batch_id: @batch.id, id: student.id), class: 'photo-mini' %>
		<br>
		<br>
		<%= link_to student.full_name, batch_student_path(batch_id: @batch.id, id: student.id) %>
		</li>
	<% end %>
	
	</div>
</div>